.sqr {
    font-family: modernSans;
    background-color: $clr1;
    color: $clr6;
    font-size: 2rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    cursor: pointer;
    padding: 2rem;
    transition: background-color 2s;

    &:hover {
        background-color: #eb9a97;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }

    .sqr-icon {
        font-family: breakdance;
        font-size: 6rem;
    }
}
