
button {
    outline: none;
    font-family:modernSans;
    background-color: $clr3;
    color:$clr6;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 1rem;
}