@font-face {
    font-family: breakdance;
    src: url(../../fonts/breakdance/Breakdance.otf);
}
@font-face {
    font-family:modernSans;
    src: url(../../fonts/modern_sans/ModernSans-Light.otf);
}
@font-face {
    font-family: pergola;
    src: url(../../fonts/pergola/Pergola.otf);
}